<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="{{ url_for('static',filename='styles/find_more.css') }}" rel="stylesheet" />

      <div class="findoutmore-container">
        <div class="findoutmore-findoutmore">
          <div class="findoutmore-nav">
            <div class="findoutmore-list">
              <div class="findoutmore-item-link">
                <span class="findoutmore-text"><span>GenPlate</span></span>
              </div>
              <div class="findoutmore-item-link1">
                <span class="findoutmore-text02"><span>Document</span></span>
              </div>
              <div class="findoutmore-item-link2">
                <span class="findoutmore-text04"><span>Experiment</span></span>
              </div>
              <div class="findoutmore-item-link3">
                <span class="findoutmore-text06"><span>Deployment</span></span>
              </div>
              <div class="findoutmore-item-link4">
                <span class="findoutmore-text08"><span>Report</span></span>
              </div>
              <div class="findoutmore-item-link5">
                <span class="findoutmore-text10">
                  <span>Related documents</span>
                </span>
                <span class="findoutmore-text12">
                  <span>Follow</span>
                  <br />
                  <span>source</span>
                </span>
              </div>
              <span class="findoutmore-text16"><span>Present</span></span>
              <span class="findoutmore-text18"><span>Bands</span></span>
              <span class="findoutmore-text20"><span>Logo</span></span>
              <span class="findoutmore-text22"><span>Design</span></span>
              <span class="findoutmore-text24"><span>Background</span></span>
              <span class="findoutmore-text26">
                <span>
                  <span></span>
                  <br />
                  <!--<span>Follow source</span>-->
                </span>
              </span>
              <span class="findoutmore-text31"><span>Question</span></span>
            </div>
            <div class="findoutmore-nav-global"></div>
            <img
              src="{{ url_for('static',filename='public/external/image26273-hmzj-200h.png') }}"
              alt="image26273"
              class="findoutmore-image2"
            />
          </div>
        </div>
        <div class="findoutmore-main">
          <div class="findoutmore-divrfbfeheader">
            <span class="findoutmore-text33"><span>GenPlate</span></span>
          </div>
          <span class="findoutmore-text35">
            <span>
              <span>Thai license plate Generator</span>
              <br />
              <span>and Augmentation</span>
            </span>
          </span>
          <img
            src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem16266-9ojt-200h.png') }}"
            alt="GroupGalleryTablistTabGalleryitem16266"
            class="findoutmore-group-gallery-tablist-tab-galleryitem1"
          />
          <img
            src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem26266-n1wv-200h.png') }}"
            alt="GroupGalleryTablistTabGalleryitem26266"
            class="findoutmore-group-gallery-tablist-tab-galleryitem2"
          />
          <img
            src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem36266-7faq-200h.png') }}"
            alt="GroupGalleryTablistTabGalleryitem36266"
            class="findoutmore-group-gallery-tablist-tab-galleryitem3"
          />
          <img
            src="{{ url_for('static',filename='public/external/buttonsaveforlaterimg6268-mb3s.svg') }}"
            alt="ButtonSaveforlaterImg6268"
            class="findoutmore-button-saveforlater-img"
          />
          <span class="findoutmore-text40">
            <span>Objectives of the Research</span>
          </span>
          <span class="findoutmore-text42"><span>Contribution</span></span>
          <span class="findoutmore-text44">
            <span>
              The main objective of this thesis is to Generate the most
              realistic license plates. In order to achieve the objective, the
              following sub-objectives are required
            </span>
          </span>
          <span class="findoutmore-text46">
            <span>
              <span>
                • Generation the desired Thai characters. instead of giving a
                2-letter license plate as realistic as possible
              </span>
              <br />
              <span>
                • Can generate all the characters and number you want. Although
                I've never seen this license plate before.
              </span>
              <br />
              <span>
                • can control the blur of the text. and can control degrees
              </span>
              <br />
              <span></span>
            </span>
          </span>
          <div class="findoutmore-fieldset-label">
            <span class="findoutmore-text55"><span>Scope</span></span>
            <span class="findoutmore-text57">
              <span>
                <span>
                  • Output quality is limited by the training dataset. It cannot
                  create a better quality than the original dataset.
                </span>
                <br />
                <span>• Can generate only numbers and Thai letters only.</span>
                <br />
                <span>
                  • Because the name of the province has high job details.
                  Therefore, this work will focus only on the license plate
                  number and the special characters above.
                </span>
                <br />
                <span>
                  • In generating data, only the image generation model is used
                </span>
              </span>
            </span>
          </div>
          <div class="findoutmore-fieldset-label1">
            <span class="findoutmore-text66"><span>Introduction</span></span>
            <span class="findoutmore-text68">
              <span>
                Variational Autoencoders (VAEs) In machine learning, a
                variational autoencoder (VAE) is an artificial neural network
                architecture introduced by Diederik P. Kingma and Max Welling.
                It is part of the families of probabilistic graphical models and
                variational Bayesian methods. (Lucas et al,2021) Variational
                autoencoders are often associated with the autoencoder model
                because of its architectural affinity, but with significant
                differences in the goal and mathematical formulation.
                Variational autoencoders are probabilistic generative models
                that require neural networks as only a part of their overall
                structure. The neural network components are typically referred
                to as the encoder and decoder for the first and second component
                respectively. The first neural network maps the input variable
                to a latent space that corresponds to the parameters of a
                variational distribution. In this way, the encoder can produce
                multiple different samples that all come from the same
                distribution. The decoder has the opposite function, which is to
                map from the latent space to the input space, in order to
                produce or generate data points. Both networks are typically
                trained together with the usage of the reparameterization trick,
                although the variance of the noise model can be learned
                separately. Although this type of model was initially designed
                for unsupervised learning, (Dilokthanakul et al,2017) its
                effectiveness has been proven for semi-supervised learning
                (Zhang et al,2017) and supervised learning.(Kameoka et al,2019)
              </span>
            </span>
          </div>
          <div class="findoutmore-fieldset-label2">
            <div class="findoutmore-spanrow">
              <div class="findoutmore-spancolumn">
                <span class="findoutmore-text70"><span>Position 1</span></span>
                <img
                  src="{{ url_for('static',filename='public/external/ellipse16276-xw3r.svg') }}"
                  alt="Ellipse16276"
                  class="findoutmore-ellipse1"
                />
              </div>
            </div>
            <div class="findoutmore-spanformlabelsmall"></div>
            <span class="findoutmore-text72">
              <span>
                Synthetic license plates can be used to augment limited
                real-world license plate datasets, thereby increasing the
                diversity and size of the training data for license plate
                recognition systems.
              </span>
            </span>
          </div>
          <div class="findoutmore-fieldset-label3">
            <div class="findoutmore-spanrow1">
              <div class="findoutmore-spancolumn1">
                <span class="findoutmore-text74"><span>Position 2</span></span>
                <img
                  src="{{ url_for('static',filename='public/external/ellipse16279-j6em.svg') }}"
                  alt="Ellipse16279"
                  class="findoutmore-ellipse11"
                />
              </div>
            </div>
            <div class="findoutmore-spanformlabelsmall1"></div>
            <span class="findoutmore-text76">
              <span>
                Synthetic license plates can be used to simulate various
                scenarios in testing, such as variations in lighting conditions,
                weather, or perspective, allowing for a more comprehensive
                evaluation of the license plate recognition system's
                performance.
              </span>
            </span>
          </div>
          <div class="findoutmore-fieldset-label4">
            <div class="findoutmore-spanrow2">
              <div class="findoutmore-spancolumn2">
                <span class="findoutmore-text78"><span>Position 3</span></span>
                <img
                  src="{{ url_for('static',filename='public/external/ellipse16279-8lk.svg') }}"
                  alt="Ellipse16279"
                  class="findoutmore-ellipse12"
                />
              </div>
            </div>
            <div class="findoutmore-spanformlabelsmall2"></div>
            <span class="findoutmore-text80">
              <span>
                Generative models can create a vast number of realistic license
                plate images for training and testing license plate recognition
                algorithms, making it easier to evaluate the robustness and
                accuracy of such systems.
              </span>
            </span>
          </div>
          <button class="findoutmore-group-gallery-button-next">
            <!-- Add this inside your find_more.html body where you want the back button -->
            <a href="{{ url_for('home') }}" class="main-button-clickhere">
              <img
              alt="Icon6283"
              src="{{ url_for('static',filename='public/external/icon6283-vtd.svg') }}"
              class="findoutmore-icon"
            />
            </a>
           
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
