<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html { line-height: 1.15; }
        body { margin: 0; }
        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }
        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }
        button { background-color: transparent; }
        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }
        button, select { text-transform: none; }
        button, [type="button"], [type="reset"], [type="submit"] {
          -webkit-appearance: none; /* For Safari and older Chrome browsers */
          -moz-appearance: none;    /* For Firefox */
          appearance: none;         /* Standard syntax */
    
         /* Your custom styles here */
          background-color: transparent;
          border: 1px solid gray; /* Example fallback style */
          padding: 5px 10px;
          font-family: inherit;
          font-size: 100%;
        
        }
        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }
        button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
            outline: 1px dotted ButtonText;
        }
        a { color: inherit; text-decoration: inherit; }
        input { padding: 2px 4px; }
        img { display: block; }
        html { scroll-behavior: smooth; }
    </style>
    <style data-tag="default-style-sheet">
       html {
            font-family: 'Inter', sans-serif; /* Ensure the font family is correctly specified */
            font-size: 16px;
        }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
    <div>
      <link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet" />

      <div class="main-container">
        <div class="main-main">
          <img
            alt="IMAGE020teslamodel313029"
            src="{{ url_for('static',filename='public/external/image020teslamodel313029-l208-700h.png') }}"
            class="main-image020teslamodel31"
          />
          <div class="main-main-section">
            <div class="main-divtile">
              <div class="main-divtilecontentwrapper">
                <span class="main-text">
                  <span>
                    This is particularly helpful in situations when real-world
                    data is scarce or difficult to collect because of logistical
                    or privacy considerations.
                  </span>
                </span>
                <a href="/find_out_more" class="main-button-clickhere">
                  <img
                  alt="ButtonFindoutmoreaboutBlackUnitySportBandUnityBloo325"
                  src="{{ url_for('static',filename='public/external/buttonfindoutmoreaboutblackunitysportbandunitybloo325-fqcb-200h.png') }}"
                  class="main-button-findoutmoreabout-black-unity-sport-band-unity-bloo"
                />
                <span class="main-text002">
                  <span>Find out more</span>
                </span>
                </a>
                <span class="main-text004"><span>GenPlate</span></span>
                <span class="main-text006">
                  <span>
                    <span>Thai license plate Generator</span>
                    <br />
                    <span>and Augmentation</span>
                  </span>
                </span>
              </div>
              <img
                alt="img944x6292023090111420522931713029"
                src="{{ url_for('static',filename='public/external/img944x6292023090111420522931713029-nq5-700h.png') }}"
                class="main-img944x629202309011142052293171"
              />
              <img
                alt="IMAGE1313029"
                src="{{ url_for('static',filename='public/external/image1313029-bj33-200h.png') }}"
                class="blink"
                 
              />
            </div>
          </div>
          <div class="main-main-section01">
            <div class="main-divtile1">
              <div class="main-divtilecontent">
                <img
                  alt="IMAGE1x113029"
                  src="{{ url_for('static',filename='public/external/image1x113029-lmu9-1300h.png') }}"
                  class="main-image1x11"
                />
                <span class="main-text011">
                  <span>Thai. Plate. Generator.</span>
                </span>
                <span class="main-text013"><span>PART 1</span></span>
                <a href="/Learn more" class="main-button-clickhere">
                  <img
                  alt="LinkLearnmoreaboutAppleWatchSeries9339"
                  src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchseries9339-63ds.svg') }}"
                  class="main-link-learnmoreabout-apple-watch-series9"
                />
                <span class="main-text015">
                  <span>Learn more</span>
                </span>
                </a>
                <!--span class="main-text015"><span>Learn more</span></span-->
                <a href="/Watch the film" class="main-button-clickhere">
                  <img
                  alt="ButtonWatchthefilmaboutAppleWatchSeries9342"
                  src="{{ url_for('static',filename='public/external/buttonwatchthefilmaboutapplewatchseries9342-lfck.svg') }}"
                  class="main-button-watchthefilmabout-apple-watch-series9"
                />
                <span class="main-text017">
                  <span>Watch the film</span>
                </span>
                </a>
                <img
                  alt="ButtonWatchthefilmaboutAppleWatchSeries9342"
                  src="{{ url_for('static',filename='public/external/buttonwatchthefilmaboutapplewatchseries9342-lfck.svg') }}"
                  class="main-button-watchthefilmabout-apple-watch-series9"
                />
                <img
                  alt="LinkLearnmoreaboutAppleWatchSeries9339"
                  src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchseries9339-63ds.svg') }}"
                  class="main-link-learnmoreabout-apple-watch-series9"
                />
              </div>
            </div>
            <img
              alt="IMAGE1313029"
              src="{{ url_for('static',filename='public/external/image1313029-a2t2-200h.png') }}"
              class="main-image1311"
            />
          </div>
          <div class="main-main-section02">
            <div class="main-divsectioncontent">
              <div class="main-divtile2">
                <div class="main-ptileprice">
                  <span class="main-text019">
                    <span>
                      This thesis presents a website powered by VAEs, generating
                      realistic images coupled with synthetic Thai license
                      plates for diverse applications.
                    </span>
                  </span>
                </div>
                <div class="main-divtilectacontainer"></div>
              </div>
            </div>
            <span class="main-text021">
              <span>Thai. Plate. Generator.</span>
            </span>
            <div class="main-divtile3">
              <div class="main-divmusicgallery">
                <div class="main-divtilecopycontent">
                  <span class="main-text023">
                    <span>Limit 200MB per file : PNG, JPG, JPEG</span>
                  </span>
                </div>
                <span class="main-text025">
                  <span>Drag and Drop file here</span>
                </span>
                <img
                alt="Uploaded Image"
                src="{{ url_for('static',filename='public/external/image1323029-ai6m-200h.png') }}"
                class="main-image132"/>
                <span class="save_change">
                  <span>Upload Complete</span>
                </span>
                <!-- <img
                alt="IMAGE1323029"
                src="{{ url_for('static', filename='public/external/image1323029-ai6m-200h.png') }}"
                class="main-image132"
                /> -->

                <div id="image-container">
                  <!-- This will be empty initially or can contain a placeholder message -->
                </div>
              </div>
            </div>
          </div>
          <div class="main-main-section03">
            <span class="main-text027">
              <span>Which class do you want to change?</span>
            </span>
            <a href="/Learn how" class="main-button-clickhere">
              <img
              alt="LinkLearnhowcarbonneutral367"
              src="{{ url_for('static',filename='public/external/linklearnhowcarbonneutral367-1rjj.svg') }}"
              class="main-link-learnhowcarbonneutral"
            />
            <span class="main-text029">
              <span>Learn how</span>
            </span>
            </a>
            <!--span class="main-text029"><span>Learn how</span></span-->
            <img
              alt="LinkLearnhowcarbonneutral367"
              src="{{ url_for('static',filename='public/external/linklearnhowcarbonneutral367-1rjj.svg') }}"
              class="main-link-learnhowcarbonneutral"
            />
            <div class="main-fieldset-label">
              <div class="main-spanrow">
                <div class="main-spancolumn">
                  <span class="main-text031"><span>Position 1</span></span>
                  <span class="main-text033">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn01">
                  <span class="main-text035"><span>c1</span></span>
                  <span class="main-text037">ก</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall">
                <span class="main-text038">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text040">
                  <span>
                    Red is the color that indicates this class. In position 1 of
                    Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse11011"
                src="{{ url_for('static',filename='public/external/ellipse11011-63a4.svg') }}"
                class="main-ellipse1"
              />
            </div>
            <div class="main-fieldset-label01">
              <div class="main-spanrow1">
                <div class="main-spancolumn02">
                  <span class="main-text042"><span>Position 1</span></span>
                  <span class="main-text044">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn03">
                  <span class="main-text046"><span>c1</span></span>
                  <span class="main-text048">ก</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall1">
                <span class="main-text049">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text051">
                  <span>
                    Red is the color that indicates this class. In position 1 of
                    Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse11022"
                src="{{ url_for('static',filename='public/external/ellipse11022-0h.svg') }}"
                class="main-ellipse11"
              />
            </div>
            <div class="main-fieldset-label02">
              <div class="main-spanrow2">
                <div class="main-spancolumn04">
                  <span class="main-text053"><span>Position 4</span></span>
                  <span class="main-text055">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn05">
                  <span class="main-text057"><span>c4</span></span>
                  <span class="main-text059">ต</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall2">
                <span class="main-text060">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text062">
                  <span>
                    Green is the color that indicates this class. In position 4
                    of Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse21026"
                src="{{ url_for('static',filename='public/external/ellipse21026-4054.svg') }}"
                class="main-ellipse2"
              />
            </div>
            <div class="main-fieldset-label03">
              <div class="main-spanrow3">
                <div class="main-spancolumn06">
                  <span class="main-text064"><span>Position 5</span></span>
                  <span class="main-text066">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn07">
                  <span class="main-text068"><span>c5</span></span>
                  <span class="main-text070">จ</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall3">
                <span class="main-text071">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text073">
                  <span>
                    Yellow is the color that indicates this class. In position 5
                    of Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse21026"
                src="{{ url_for('static',filename='public/external/ellipse21026-4054.svg') }}"
                class="main-ellipse21"
              />
            </div>
            <div class="main-fieldset-label04">
              <div class="main-spanrow4">
                <div class="main-spancolumn08">
                  <span class="main-text075"><span>Position 6</span></span>
                  <span class="main-text077">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn09">
                  <span class="main-text079"><span>c6</span></span>
                  <span class="main-text081">ง</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall4">
                <span class="main-text082">
                  <span>
                    Name want to change.
                    
                  </span>
                </span>
                <span class="main-text084">
                  <span>
                    Purple is the color that indicates this class. In position 6
                    of Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse21026"
                src="{{ url_for('static',filename='public/external/ellipse21026-j0cv.svg') }}"
                class="main-ellipse22"
              />
            </div>
            <div class="main-fieldset-label05">
              <div class="main-spanrow5">
                <div class="main-spancolumn10">
                  <span class="main-text086">Position&nbsp; 2</span>
                  <span class="main-text087">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn11">
                  <span class="main-text089"><span>c2</span></span>
                  <span class="main-text091">ข</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall5">
                <span class="main-text092">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text094">
                  <span>
                    Blue is the color that indicates this class. In position 2
                    of Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse11019"
                src="{{ url_for('static',filename='public/external/ellipse11019-v2nq.svg') }}"
                class="main-ellipse12"
              />
            </div>
            <div class="main-fieldset-label06">
              <div class="main-spanrow6">
                <div class="main-spancolumn12">
                  <span class="main-text096"><span>Position 3</span></span>
                  <span class="main-text098">
                    <span>List of the class and Name</span>
                  </span>
                </div>
                <div class="main-spancolumn13">
                  <span class="main-text100"><span>c3</span></span>
                  <span class="main-text102">ค</span>
                </div>
              </div>
              <div class="main-spanformlabelsmall6">
                <span class="main-text103">
                  <span>
                    Name want to change.
                  </span>
                </span>
                <span class="main-text105">
                  <span>
                    Orange is the color that indicates this class. In position 3
                    of Thai license plate
                  </span>
                </span>
              </div>
              <img
                alt="Ellipse11020"
                src="{{ url_for('static',filename='public/external/ellipse11020-ut7j.svg') }}"
                class="main-ellipse13"
              />
            </div>
          </div>
          <div class="main-main-section04">
            <span class="main-text107"><span>Select model</span></span>
            <img
              alt="ImgAvailableinMidnightStarlightandSilver372"
              src="{{ url_for('static',filename='public/external/imgavailableinmidnightstarlightandsilver372-gy0b-200h.png') }}"
              class="main-img-availablein-midnight-starlightand-silver"
            />
            <span class="main-text109"><span>CVAEs</span></span>
            <span class="main-text111">
              <span>Conditional Variational Autoencoders</span>
            </span>
            <div class="main-header">
              <a href="/Learn more" class="main-button-clickhere">
                <img
                alt="LinkLearnmoreAppleWatchSE381"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchse381-ky1p.svg') }}"
                class="main-link-learnmore-apple-watch-se"
              />
              <span class="main-text113">
                <span>Learn more</span>
              </span>
              </a>
              <!--span class="main-text113">Learn more</span>
              <img
                alt="LinkLearnmoreAppleWatchSE381"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchse381-ky1p.svg') }}"
                class="main-link-learnmore-apple-watch-se"
              /-->
              <div class="main-link-buy-apple-watch-se">
                <a href="/Select" class="main-button-clickhere">
                <span class="main-text114">
                  <span>Select</span>
                </span>
                </a>
                <!--span class="main-text114"><span>Select</span></span-->
              </div>
            </div>
            <span class="main-text116">
              <span>
                CVAE use the concept of gaussian distribution and sampling
                latent from this distribution and latent of Autoencoder will be
                the fix value
              </span>
            </span>
            <span class="main-text118">
              <span>
                The first loss is reconstructionloss, It is compare X and Xrand
                use L2 to be criteria of this loss. This lead the Intro-VAE can
                generateimage close to the input image.
              </span>
            </span>
            <span class="main-text120">
              <span>
                <span>
                  The concept of loss function is the same as Intro-VAE but
                  reducing the hardest of funning hyperparameter as show in the
                  equation above. The change the M variable to be one over alpha
                  and exponential.
                </span>
                <br />
                <span></span>
              </span>
            </span>
            <img
              alt="Figure384"
              src="{{ url_for('static',filename='public/external/figure384-9k4d-200h.png') }}"
              class="main-figure"
            />
            <span class="main-text125">
              <span>add an adversarial objective to the VAE training</span>
            </span>
            <span class="main-text127">-</span>
            <span class="main-text128">
              <span>require fast and high-quality inference</span>
            </span>
            <span class="main-text130">
              <span>require fast and high-quality inference</span>
            </span>
            <span class="main-text132">
              <span>add an adversarial objective to the VAE training</span>
            </span>
            <span class="main-text134">
              <span>add an adversarial objective to the VAE training</span>
            </span>
            <img
              alt="Figure3103"
              src="{{ url_for('static',filename='public/external/figure3103-7yaj-200w.png') }}"
              class="main-figure1"
            />
            <img
              alt="divcolorswatch3128"
              src="{{ url_for('static',filename='public/external/link6219-gox8-200h.png') }}"
              class="main-divcolorswatch"
            />
            <span class="main-text136"><span>IntroVAEs</span></span>
            <span class="main-text138">
              <span>
                <!-- <span>Powerful sensors,</span> -->
                <br />
                <!-- <span>advanced health features.</span> -->
              </span>
            </span>
            <div class="main-header1">
              <a href="/Learn more" class="main-button-clickhere">
                <img
                alt="LinkLearnmoreAppleWatchSeries93140"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchseries93140-v9bk.svg') }}"
                class="main-link-learnmore-apple-watch-series9"
              />
              <span class="main-text143">
                <span>Learn more</span>
              </span>
              </a>
              <!--span class="main-text143"><span>Learn more</span></span-->
              <img
                alt="LinkLearnmoreAppleWatchSeries93140"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchseries93140-v9bk.svg') }}"
                class="main-link-learnmore-apple-watch-series9"
              />
              <div class="main-link-buy-apple-watch-se1">
                <a href="/Select" class="main-button-clickhere">
                <span class="main-text145">
                  <span>Select</span>
                </span>
                </a>
                <!--span class="main-text145"><span>Select</span></span-->
              </div>
                <!--span class="main-text147"><span>Select</span></span-->
              </div>
              <div class="main-link-buy-apple-watch-se2">
                <a href="/Select" class="main-button-clickhere">
                <span class="main-text147">
                  <span>Select</span>
                </span>
                </a>
            </div>
            <img
              alt="Figure3143"
              src="{{ url_for('static',filename='public/external/figure3143-cq89-200h.png') }}"
              class="main-figure2"
            />

            <img
              alt="Figure3164"
              src="{{ url_for('static',filename='public/external/figure3164-82je-200w.png') }}"
              class="main-figure3"
            />
            <img
              alt="ImgAvailableinnaturaltitanium3187"
              src="{{ url_for('static',filename='public/external/imgavailableinnaturaltitanium3187-elk-200h.png') }}"
              class="main-img-availableinnaturaltitanium"
            />
            <span class="main-text149"><span>Soft-IntroVAEs</span></span>
            <span class="main-text151">
              <span>
                <!-- <span>The most rugged</span> -->
                <br />
                <!-- <span>and capable.</span> -->
              </span>
            </span>
            <div class="main-header2">
              <a href="/Learn more" class="main-button-clickhere">
                <img
                alt="LinkLearnmoreAppleWatchUltra23195"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchultra23195-8c2y.svg') }}"
                class="main-link-learnmore-apple-watch-ultra2"
              />
              <span class="main-text156">
                <span>Learn more</span>
              </span>
              </a>
              <!--span class="main-text156"><span>Learn more</span></span>
              <img
                alt="LinkLearnmoreAppleWatchUltra23195"
                src="{{ url_for('static',filename='public/external/linklearnmoreapplewatchultra23195-8c2y.svg') }}"
                class="main-link-learnmore-apple-watch-ultra2"
              /-->
            </div>
            <img
              alt="Figure3198"
              src="{{ url_for('static',filename='public/external/figure3198-sfa-200h.png') }}"
              class="main-figure4"
            />
            <img
              alt="Figure3219"
              src="{{ url_for('static',filename='public/external/figure3219-k83k-200w.png') }}"
              class="main-figure5"
            />
            <a href="/Select" class="main-button-clickhere">
              <span class="main-text158">
                <span>Compare all models</span>
              </span>
              </a>
            <!--span class="main-text158"><span>Compare all models</span></span-->
            <img
              alt="Link3243"
              src="{{ url_for('static',filename='public/external/link3243-oyi.svg') }}"
              class="main-link"
            />
            <a href="/Learn more" class="main-button-clickhere">
              <img
              alt="LinkLearnmoreaboutAppleWatchSE1027"
              src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchse1027-ismm.svg') }}"
              class="main-link-learnmoreabout-apple-watch-se"
            />
            <span class="main-text160">
              <span>Learn more</span>
            </span>
            </a>
            <!-- <span class="main-text162">
              The concept of loss function isthe same as Intro-VAE but reducing
              the hardest of funning hyperparameter asshow in the equation
              above. The change the M variable to be one over alpha
              andexponential.
            </span> -->
            <span class="main-text163">
              Introspective Variational Autoencoders
            </span>
            <span class="main-text164">
              <span>Soft-Introspective Variational</span>
              <br class="main-text166" />
              <span>Autoencoder</span>
            </span>
            <img
              alt="LinkLearnmoreaboutAppleWatchSE1027"
              src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchse1027-ismm.svg') }}"
              class="main-link-learnmoreabout-apple-watch-se1"
            />
          </div>
          <div class="main-main-section05">
            <div class="main-divtile4">
              <div class="main-main-list-item">
                <span class="main-text168"><span>Control Parameter</span></span>
                <div class="main-list-listitem">
                  <span class="main-text170"><span>Exposure</span></span>
                  <div class="main-link-buy-apple-watch-series9">
                    <img
                      alt="Rectangle11134"
                      src="{{ url_for('static',filename='public/external/rectangle11134-cjp6-200h.png') }}"
                      class="main-rectangle1"
                    />
                    <img
                      alt="Rectangle31135"
                      src="{{ url_for('static',filename='public/external/rectangle31135-7ycc-200h.png') }}"
                      class="main-rectangle3"
                    />
                  </div>
                </div>
                <span class="main-text172"><span>10 %</span></span>
                <span class="main-text174"><span>20 %</span></span>
                <span class="main-text176"><span>100 %</span></span>
                <span class="main-text178"><span>70 %</span></span>
                <span class="main-text180"><span>80 %</span></span>
                <div class="main-list-listitem1">
                  <span class="main-text182"><span>Contrast</span></span>
                  <div class="main-link-buy-apple-watch-series10">
                    <img
                      alt="Rectangle21134"
                      src="{{ url_for('static',filename='public/external/rectangle21134-xgxl-200h.png') }}"
                      class="main-rectangle2"
                    />
                    <img
                      alt="Rectangle21135"
                      src="{{ url_for('static',filename='public/external/rectangle21135-eyec-200h.png') }}"
                      class="main-rectangle21"
                    />
                  </div>
                </div>
                <div class="main-list-listitem2">
                  <span class="main-text184"><span>Saturation</span></span>
                  <div class="main-link-buy-apple-watch-series11">
                    <img
                      alt="Rectangle11134"
                      src="{{ url_for('static',filename='public/external/rectangle11134-j4sq-200h.png') }}"
                      class="main-rectangle11"
                    />
                  </div>
                </div>
                <div class="main-list-listitem3">
                  <span class="main-text186"><span>Temperature</span></span>
                  <div class="main-link-buy-apple-watch-series101">
                    <img
                      alt="Rectangle21134"
                      src="{{ url_for('static',filename='public/external/rectangle21134-91o-200h.png') }}"
                      class="main-rectangle22"
                    />
                    <img
                      alt="Rectangle41135"
                      src="{{ url_for('static',filename='public/external/rectangle41135-q3j-200h.png') }}"
                      class="main-rectangle4"
                    />
                  </div>
                </div>
                <div class="main-list-listitem4">
                  <span class="main-text188"><span>Shadows</span></span>
                  <div class="main-link-buy-apple-watch-series102">
                    <img
                      alt="Rectangle11134"
                      src="{{ url_for('static',filename='public/external/rectangle11134-rum-200h.png') }}"
                      class="main-rectangle12"
                    />
                    <img
                      alt="Rectangle51135"
                      src="{{ url_for('static',filename='public/external/rectangle51135-9mnp-200h.png') }}"
                      class="main-rectangle5"
                    />
                  </div>
                </div>
              </div>
              <div class="main-divconfigurectacontainer">
                <img
                  alt="Link3300"
                  src="{{ url_for('static',filename='public/external/link3300-olgb-200h.png') }}"
                  class="main-link01"
                />
                <img
                  alt="Link3301"
                  src="{{ url_for('static',filename='public/external/link3301-zeld-200h.png') }}"
                  class="main-link02"
                />
                <a href="/Select" class="main-button-clickhere">
                  <span class="main-text190">
                    <span>Create your style</span>
                  </span>
                  </a>
                <!--span class="main-text190"><span>Create your style</span></span-->
              </div>
            </div>
          </div>
          <div class="main-main-section06">
            
            <div class="main-divrcdecisionsection">
              <div class="main-divb8283370c17911ee84c145bd6d2b73ae">
                <span class="main-text192">
                  <span>Wait for the image to be generated</span>
                </span>
              </div>
              <div class="main-divrcdecisionsectiondesc">
                <span class="main-text194">
                  <span>You can play the waiting game.</span>
                </span>
              </div>
              <img
                alt="Button1136"
                src="{{ url_for('static',filename='public/external/button1136-sar.svg') }}"
                class="main-button"
              />
            </div>
            <div class="main-link-buy-apple-watch-series103">
              <img
                alt="Rectangle11136"
                src="{{ url_for('static',filename='public/external/rectangle11136-0qk-200h.png') }}"
                class="main-rectangle13"
              />
              <img
                alt="Rectangle51136"
                src="{{ url_for('static',filename='public/external/rectangle51136-xiq-200h.png') }}"
                class="main-rectangle51"
              />
            </div>
            <span class="main-text196"><span>80 %</span></span>
            <span class="main-text198"><span>Generated image</span></span>
          </div>
          <div class="main-main-section07">
            <div class="main-divtile5">
              <div class="main-divcopywrap">
                <span class="main-text200">
                  <span>Thai. Plate. Generator.</span>
                </span>
                <span class="main-text202">
                  <span>
                    <!--<span>Any case. Any band.</span> -->
                    <br />
                    <!--<span>Any style you want.</span> -->
                  </span>
                </span>
                <span class="main-text207">Thai. Plate. Generator.</span>
                <span class="main-text208">
                  <span>
                    The first loss is reconstructionloss, It is compare X and
                    Xrand use L2 to be criteria of this loss. This lead the
                    Intro-VAE can generateimage close to the input image.
                  </span>
                </span>
              </div>
              <div class="main-divtile6"></div>
              <span class="main-text210">
                <span>Any case. Any band.</span>
                <br class="main-text212" />
                <br />
                <span>Any style you want.</span>
              </span>
            </div>
            <img
              alt="GroupGalleryTablistTabGalleryitem11438"
              src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem11438-727h-200h.png') }}"
              class="main-group-gallery-tablist-tab-galleryitem1"
            />
            <img
              alt="GroupGalleryTablistTabGalleryitem21438"
              src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem21438-xkpw-200h.png') }}"
              class="main-group-gallery-tablist-tab-galleryitem2"
            />
            <img
              alt="GroupGalleryTablistTabGalleryitem31438"
              src="{{ url_for('static',filename='public/external/groupgallerytablisttabgalleryitem31438-vur-200h.png') }}"
              class="main-group-gallery-tablist-tab-galleryitem3"
            />
            <!--img
              alt="Link1421"
              src="{{ url_for('static',filename='public/external/link1421-akx-200h.png') }}"
              class="main-link03"
            /-->
            <a href="/save file" class="main-button-clickhere">
              <img
              alt="Link1421"
              src="{{ url_for('static',filename='public/external/link1421-akx-200h.png') }}"
              class="main-link03"
            />
            <span class="main-text215">
              <span>save file</span>
            </span>
            </a>
            <!--span class="main-text215"><span>save file</span></span-->
          </div>
          <div class="main-main-section08">
            <div class="main-divbuystripcontent">
              <div class="main-divbuystripitems">
                <div class="main-divbuystripitem">
                  <span class="main-text217">
                    <span>
                      <span>Chat with us on LINE!</span>
                      <br />
                      <span>Get answers to common queries</span>
                    </span>
                  </span>
                  <img
                    alt="image35913"
                    src="{{ url_for('static',filename='public/external/image35913-5c8r-200h.png') }}"
                    class="main-image3"
                  />
                </div>
                <span class="main-text222"><span>SUPPORT</span></span>
                <span class="main-text224">
                  <span>
                    <span>Request a Callback</span>
                    <br />
                    <span>A representative will call you</span>
                  </span>
                </span>
                <img
                  alt="image45917"
                  src="{{ url_for('static',filename='public/external/image45917-6mna-200h.png') }}"
                  class="main-image4"
                />
                <span class="main-text229">
                  <span>
                    <span>Call us now</span>
                    <br />
                    <span>Available between 9:00 - 18:00</span>
                  </span>
                </span>
                <img
                  alt="image55922"
                  src="{{ url_for('static',filename='public/external/image55922-452k-200h.png') }}"
                  class="main-image5"
                />
                <span class="main-text234">
                  <span>
                    The first loss is reconstructionloss, It is compare X and
                    Xrand use L2 to be criteria of this loss. This lead the
                    Intro-VAE can generateimage close to the input image.
                  </span>
                </span>
              </div>
            </div>
            <span class="main-text236">
              <span>add an adversarial objective to the VAE training</span>
            </span>
          </div>
          <div class="main-nav">
            <div class="main-list">
              <div class="main-item-link">
                <a href="/GenPlate" class="main-button-clickhere">
                  <span class="main-text238">
                    <span>GenPlate</span>
                  </span>
                  </a>
                <!--span class="main-text238"><span>GenPlate</span></span-->
              </div>
              <div class="main-item-link1">
                <a href="/GenPlate" class="main-button-clickhere">
                  <span class="main-text240">
                    <span>Document</span>
                  </span>
                  </a>
                <!--span class="main-text240"><span>Document</span></span-->
              </div>
              <div class="main-item-link2">
                <a href="/Experiment" class="main-button-clickhere">
                  <span class="main-text242">
                    <span>Experiment</span>
                  </span>
                  </a>
                <!--span class="main-text242"><span>Experiment</span></span-->
              </div>
              <div class="main-item-link3">
                <a href="/Experiment" class="main-button-clickhere">
                  <span class="main-text244">
                    <span>Deployment</span>
                  </span>
                  </a>
                <!--span class="main-text244"><span>Deployment</span></span-->
              </div>
              <div class="main-item-link4">
                <a href="/Report" class="main-button-clickhere">
                  <span class="main-text246">
                    <span>Report</span>
                  </span>
                  </a>
                <!--span class="main-text246"><span>Report</span></span-->
              </div>
              <div class="main-item-link5">
                <a href="/Related documents" class="main-button-clickhere">
                  <span class="main-text248">
                    <span>Related documents</span>
                  </span>
                  </a>
                <!--span class="main-text248"><span>Related documents</span></span-->
              </div>
              <a href="/Persents" class="main-button-clickhere">
                <span class="main-text250">
                  <span>Presents</span>
                </span>
                </a>
              <!--span class="main-text250"><span>Present</span></span-->
              <a href="/Bands" class="main-button-clickhere">
                <span class="main-text252">
                  <span>Bands</span>
                </span>
                </a>
              <!--span class="main-text252"><span>Bands</span></span-->
              <a href="/Logo" class="main-button-clickhere">
                <span class="main-text254">
                  <span>Logo</span>
                </span>
                </a>
              <!--span class="main-text254"><span>Logo</span></span-->
              <a href="/Design" class="main-button-clickhere">
                <span class="main-text256">
                  <span>Design</span>
                </span>
                </a>
              <!--span class="main-text256"><span>Design</span></span-->
              <a href="/Background" class="main-button-clickhere">
                <span class="main-text258">
                  <span>Background</span>
                </span>
                </a>
              <!--span class="main-text258"><span>Background</span></span-->
              <a href="/Follow source" class="main-button-clickhere">
                <span class="main-text260">
                  <span>
                    <span></span>
              
                    <span>Follow source</span>
                  </span>
                </span>
                </a>
              <a href="/Question" class="main-button-clickhere">
                <span class="main-text265">
                  <span>Question</span>
                </span>
                </a>
              <!--span class="main-text265"><span>Question</span></span-->
              <!--img
                alt="image13027"
                src="{{ url_for('static',filename='public/external/image13027-2nwe-200h.png') }}"
                class="main-image1"
              /-->
             
              </div>
            </div>
          </div>
          <div class="main-nav-global"></div>
          <img
            alt="LinkLearnmoreaboutAppleWatchSeries9106"
            src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchseries9106-x31s.svg') }}"
            class="main-link-learnmoreabout-apple-watch-series91"
          />
                    <!-- <form action="{{ url_for('upload_file') }}" method="post">
            <label for="file-upload" class="main-button-clickhere">
              <span class="main-text267">
                <span>Browse Files</span>
              </span>
              <input id="file-upload" type="file" name="file" style="display: none;" />
            </label>
            <input type="submit" value="Upload File">
          </form> -->
         
          <img
              alt="Link1026"
              src="{{ url_for('static', filename='public/external/link1026-yhjb-200h.png') }}"
              class="main-link04"
              onclick="sendTestRequest()"
            />
            <span class="main-text267"><span>Browse Files</span></span>
            <div class="main-main-section09">
            <img
              alt="LinkLearnmoreaboutAppleWatchSeries91438"
              src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchseries91438-ixxs.svg') }}"
              class="main-link-learnmoreabout-apple-watch-series92"
            />
            <img
              alt="TeslaModel3Facelift2024ExteriorDesignRearAlfaInchi539"
              src="{{ url_for('static',filename='public/external/teslamodel3facelift2024exteriordesignrearalfainchi539-26h8-2000w.png') }}"
              class="main-tesla-model3-facelift2024-exterior-design-rear-alfa-inchi"
            />
            <span class="main-text269">
              <span>add an adversarial objective to the VAE training</span>
            </span>
            <img
              alt="IMAGE1315310"
              src="{{ url_for('static',filename='public/external/image1315310-ubxm-200h.png') }}"
              class="main-image1312"
            />
            <span class="main-text271">
              <span>Thai. Plate. Augmentation.</span>
            </span>
            <span class="main-text273"><span>PART 2</span></span>
            <a href="/Learn more" class="main-button-clickhere">
              <span class="main-text275">
                <span>Learn more</span>
              </span>
              </a>
            <!--span class="main-text275"><span>Learn more</span></span-->
            <a href="/Watch the film" class="main-button-clickhere">
              <span class="main-text277">
                <span>Watch the film</span>
              </span>
              </a>
            <!--span class="main-text277"><span>Watch the film</span></span-->
            <img
              alt="ButtonWatchthefilmaboutAppleWatchSeries91439"
              src="{{ url_for('static',filename='public/external/buttonwatchthefilmaboutapplewatchseries91439-fn9g.svg') }}"
              class="main-button-watchthefilmabout-apple-watch-series91"
            />
            <div class="main-fieldset-label07">
              <img
                alt="Link6217"
                src="{{ url_for('static',filename='public/external/link6217-s32-200h.png') }}"
                class="main-link05"
              />
              <span class="main-text279"><span>Grayscale</span></span>
              <a href="/Grayscale" class="main-button-clickhere">
                <span class="main-text281">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text281"><span>Submit</span></span-->
            </div>
            <div class="main-fieldset-label08">
              <span class="main-text283"><span>Saturation</span></span>
              <img
                alt="Link6218"
                src="{{ url_for('static',filename='public/external/link6218-109o-200h.png') }}"
                class="main-link06"
              />
              <a href="/Submit" class="main-button-clickhere">
                <span class="main-text285">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text285"><span>Submit</span></span-->
            </div>
            <div class="main-fieldset-label09">
              <span class="main-text287"><span>Exposure</span></span>
              <img
                alt="Link6219"
                src="{{ url_for('static',filename='public/external/link6219-gox8-200h.png') }}"
                class="main-link07"
              />
              <a href="/Submit" class="main-button-clickhere">
                <span class="main-text289">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text289"><span>Submit</span></span-->
            </div>
            <div class="main-fieldset-label10">
              <img
                alt="Link6219"
                src="{{ url_for('static',filename='public/external/link6219-wbep-200h.png') }}"
                class="main-link08"
              />
              <span class="main-text291"><span>Noise</span></span>
              <a href="/Submit" class="main-button-clickhere">
                <span class="main-text293">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text293"><span>Submit</span></span-->
            </div>
            <div class="main-fieldset-label11">
              <span class="main-text295"><span>Blur</span></span>
              <img
                alt="Link6219"
                src="{{ url_for('static',filename='public/external/link6219-ksh-200h.png') }}"
                class="main-link09"
              />
              <a href="/Submit" class="main-button-clickhere">
                <span class="main-text297">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text297"><span>Submit</span></span-->
            </div>
            <div class="main-fieldset-label12">
              <span class="main-text299"><span>Shear</span></span>
              <img
                alt="Link6220"
                src="{{ url_for('static',filename='public/external/link6220-dgad-200h.png') }}"
                class="main-link10"
              />
              <a href="/Submit" class="main-button-clickhere">
                <span class="main-text301">
                  <span>Submit</span>
                </span>
                </a>
              <!--span class="main-text301"><span>Submit</span></span-->
            </div>
            <img
              alt="LinkLearnmoreaboutAppleWatchSE1027"
              src="{{ url_for('static',filename='public/external/linklearnmoreaboutapplewatchse1027-ismm.svg') }}"
              class="main-link-learnmoreabout-apple-watch-se2"
            />
            <script>
              function sendTestRequest() {
                let input = document.createElement('input');
                input.type = 'file';
                input.accept = "image/*"; // Ensure only images can be selected
                input.onchange = e => {
                  let file = e.target.files[0];
                  console.log(file);
                  if (file) {
                    uploadFile(file);
                  }
                }
                input.click();
              }

              function uploadFile(file) {
                let formData = new FormData();
                formData.append('file', file);

                fetch('/test_button', {
                  method: 'POST',
                  body: formData,
                })
                .then(response => {
                  if(response.ok) {
                    return response.blob();
                  }
                  throw new Error('Network response was not ok.');
                })
                .then(blob => {
                  // Find the image element you want to replace
                  let img = document.querySelector('.main-image132'); // Make sure this selector matches your image's class or ID
                  if (img) {
                    // Update the image source with the selected file
                    img.src = URL.createObjectURL(blob);
                    img.style.display = 'block'; // Ensure the image is visible if previously hidden

                    // Show the .save_change element
                    let saveChangeText = document.querySelector('.save_change');
                    if (saveChangeText) {
                      saveChangeText.style.display = 'block'; // Make the text visible
                    }
                  }
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
              }

              </script>
              <div class='cursor' id="cursor"></div>

              <p class="blog">
                This fiddle is a part of a <a href="https://yogeshchauhan.com/how-to-create-a-circle-that-follows-a-cursor-using-javascript-and-css/" target="_blank">Blog Post on YogeshChauhan.com</a>
              </p>
              <script>
                // JavaScript code to make the cursor follow the mouse movement
                var cursor = document.getElementById("cursor");
                document.body.addEventListener("mousemove", function(e) {
                  cursor.style.left = e.clientX + "px",
                  cursor.style.top = e.clientY + "px";
                });
                </script>
              
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
